importFrom("stats", "integrate", "dnorm", "rexp", "rnorm", "median")
importFrom("mvtnorm", "rmvnorm")
importFrom("pracma", "hessian")
importFrom("truncnorm", "rtruncnorm", "dtruncnorm")
importFrom("invgamma", "dinvgamma")
importFrom("DEoptim", "DEoptim", "DEoptim.control")
export(carfima)
export(carfima.sim)
export(carfima.loglik)